.header {


  &__main {
    // background-color: red;
    // position: relative;



    &--text-box {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      width: 89.6rem;
      height: 44.3rem;
      margin: 0 auto;

      @include respond (phone) {
        width: 100%;
        // width: 34.2rem;
        display: block;
      }

      z-index: 1;
      // position: absolute;
      top: 10rem;

      // left: 0;

      position: relative;

      .intro-span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .6rem 1.2rem;
        background-color: $grey-2;
        border: .2px solid $grey-1;
        // gap: 1rem;
        border-radius: 10rem;
        margin-bottom: 1.6rem;


      }

      h1 {
        text-align: center;

        @include respond (big-phone) {
          display: block;
        }
      }

      p {
        text-align: center;
        padding: 0 2rem;
      }



      .backdrop {
        width: 85rem;
        height: 59rem;
        margin: 0 auto;
        z-index: -99;
        position: absolute;
        top: -4.7rem;
        left: 0;


        img {
          width: 100%;
        }
      }
    }



    .hero-image-box {
      height: 70rem;
      width: 100vw;

      margin: 20rem 0 10rem;

      @include respond (phone) {
        // width: 38rem;
        height: 38rem;
      }

      img {
        width: 100%;
      }

      @include padCenter;

      @include respond (phone) {
        display: block;
      }

    }
  }

  .featured {
    // background-color: blue;
    margin: 0 29rem 19.2rem;
    display: block;

    p {
      // display: flex;justify-content: center;align-items: center;
      text-align: center;
      margin-bottom: 4.8rem;
      color: $text-color-1;
    }

    .logos {
      // background-color: red;
      display: flex;
      justify-content: space-between;
      align-items: end;

      height: 6rem;
      gap: 8rem;
      // flex: 0 0 auto;

      .logo {
        // background-color: yellow;
        max-height: 6rem;
        max-width: 8rem;
        // object-fit: contain;a
        // align-self: flex-end;

        img {
          width: 100%;
        }
      }
    }
  }
}