.header {
  &__main {
    padding: 10rem 0;

    &--text-box {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: min(100rem, 100%);
      margin: 0 auto;
      padding: 0 2rem;

      @include respond (tab-port) {
        padding: 0 5rem;
      }

      @include respond (big-phone) {
        padding: 0 2rem;
      }

      @include respond (phone) {
        padding: 0 1.5rem;
      }

      .intro-span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 1.2rem;
        background-color: $grey-2;
        border: 0.2px solid $grey-1;
        border-radius: 10rem;
        margin-bottom: 3.2rem;

        @include respond (phone) {
          margin-top: 2.4rem;
        }
      }

      h1 {
        text-align: center;

      }

      p {
        text-align: center;
        padding: 0 2rem;

        @include respond (phone) {
          margin-top: 2.4rem;
        }
      }

      @include respond (sm-phone) {
        padding: 0 2rem;
      }

      a {
        margin-top: 3.2rem;

        @include respond (phone) {
          margin-top: 2.4rem;
        }

      }
    }

    .backdrop {
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .hero-image-box {
    width: 100%;
    margin: 10rem 0;
    @include padCenter;

    @include respond (tab-port) {
      margin: 8rem 0;
    }


    img {
      width: 100%;
      display: block;
      border-radius: 1rem;

    }

    @include respond (tab-port) {
      height: 50vh;
      object-fit: contain;
      object-position: center;

      img {
        height: 100%;
        width: 100%;

        object-fit: cover;
        object-position: center;
      }
    }

  }
}

.featured {
  margin: 0 28rem;




  @include respond (tab-land) {
    margin: 0 20rem;

  }

  @include respond (tab-port) {
    margin: 0 10rem;

  }

  @include respond (big-phone) {
    margin: 0 3rem;



  }


  p {
    text-align: center;
    margin-bottom: 4.8rem;
    color: $text-color-1;


    @include respond (tab-port) {
      margin-bottom: 3.6rem;
    }

    @include respond (big-phone) {
      margin-bottom: 3rem;
    }

    @include respond (phone) {
      margin-bottom: 2rem;
    }
  }


  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;




    @include respond (big-phone) {
      display: none;
      width: 100vh;

      .responsive {
        display: block;
      }
    }



    .logo {
      width: 80px;

      img {
        width: 100%;
      }
    }

    .bg-logo {
      width: 120px;


      img {
        width: 100%;
      }
    }
  }

  .responsive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    .logo {
      width: 80px;

      img {
        width: 100%;
      }
    }

    .bg-logo {
      width: 120px;

      @include respond(big-phone) {
        gap: 5rem;
      }


      img {
        width: 100%;
      }
    }
  }
}


marquee {

  display: none;

  @include respond(big-phone) {
    display: block;
  }


}