.navigation {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  position: relative;
  // margin-top: 2rem;
  padding: 1.6rem 0;
  @include padCenter;
  border-bottom: 1px solid $grey-2;
  overflow: hidden;

  @include respond (tab-port) {
    position: unset;
  }

  &__logo {
    height: 3rem;
    width: 7.3rem;

    img {
      width: 100%;
    }
  }

  &__nav {
    display: block;

    @include respond(tab-port) {


      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      width: 60vw;

      position: fixed !important;
      top: 0;

      z-index: 9;
      transform: translateX(-100rem);
      box-shadow: inset 0 0 3rem rgba(0, 255, 0, 0.8);
      background-color: rgba(0, 0, 0, 0.813);
      transition: all 500ms ease;


    }





    &--links {
      @include absCenter;
      // top: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      top: unset;


      a {
        padding: .8rem 4rem;


        @include respond(tab-port) {
          padding: 2rem 1rem;
          font-size: 2.4rem;
        }

        @include respond(big-phone) {
          font-size: 2.4rem;
        }
      }



      @include respond(tab-port) {
        padding: 0;
        margin-bottom: 5rem;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

      }
    }

    &--actions {
      display: inline-flex;
      justify-content: center;

      align-items: flex-start;

      a {
        padding: .8rem 1rem;


        :last-child {
          padding: .8rem 0;

        }

        @include respond(tab-port) {
          padding: 2rem 1rem;
          font-size: 2.4rem;
        }
      }

      @include respond(tab-port) {
        padding: 0;
        margin-top: 8rem;
        align-items: center;
        flex-direction: column;
      }

    }

    .navigation__nav--link {
      @include respond (tab-port) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


  }



  &__input {
    display: none;
  }

  &__input:checked~&__nav {
    // @include absCenter;
    transform: translateX(0);
  }

  &__input:checked~&__backdrop {
    right: 0;
    transition: all 500ms ease-in-out;

  }


  &__input:checked+&__button {
    z-index: 15;

    background-color: rgba(0, 255, 0, 3);
    border-radius: 50%;
    padding: 1rem;
    height: 7rem;
    width: 7rem;

    position: fixed;
    right: -1rem;
    top: 50%;
    transform: translate(-50%, -50%);




    .navigation__button--icon {
      background-color: transparent;
      height: 0;
      // top: -1rem;


      &::before {
        transform: rotate(135deg);
        top: 0;
      }

      &::after {
        transform: rotate(-135deg);
        top: 0;
      }
    }
  }



  &__button {
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    transition: 0.05s ease;
    transition-property: background-color, height;
    position: relative;
    z-index: 1;
    display: none;

    @include respond(tab-port) {
      display: flex;
    }

    &--icon {
      position: relative;
      display: block;
      height: 3px;
      width: 100%;
      background-color: $primary-color;
      transition: all 0.3s;
      border-radius: .8rem;


      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        background-color: $primary-color;
        transition: transform 0.3s;
        border-radius: .8rem;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        top: 1rem;
      }
    }
  }


  &__backdrop {
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $grey-2;
    right: -100vw;
    backdrop-filter: blur(5px);
    top: 0;
    transition: all 300ms;
  }
}