.btn {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: capitalize;
  cursor: pointer;


}

.btn-1::after {
  backface-visibility: hidden;
  border: .5px solid transparent;
  bottom: 0;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 200ms ease-in-out;
  margin-top: .5rem;
  width: 0;
}

.btn-1:hover::after {
  border-color: $green;
  transition: width 300ms ease-in-out;
  width: 100%;
}




.btn-green:link,
.btn-green:visited {
  border: 0 solid;
  box-shadow: inset 0 0 2rem rgba(255, 255, 255, 0);
  // outline: 1px solid;
  background-color: #0af30a;
  outline-offset: 0;
  text-shadow: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 4rem;
  padding: .8rem 1.2rem;
  background-position: 100%;
  box-sizing: 400%;
}

.btn-green:hover {
  bottom: 1px solid;
  box-shadow: inset 0 0 2rem rgba(0, 255, 0, 0.8),
    0 0 2rem rgba(99, 255, 52, 0.2), ;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 1rem;
  text-shadow: 1px 1px 2px #0af30a;
  border-radius: 4rem;
  background-color: transparent;
  background-position: 5%;


}

.btn-green:active {
  transform: scale(.9);
}

.header__main--text-box .btn-pad {
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  white-space: nowarp;
}

.arrow:link,
.arrow:visited {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-radius: 50%;
  transform: scale(1);
  border: 1px solid $text-color-gray-green;
  background-color: $primary-color;

  img {
    width: 5rem;
    @include absCenter;
  }
}

.arrow:hover {
  transform: scale(1.2);
}

.arrow:active {
  transform: scale(.9);
  box-shadow: inset 0 0 2rem 1rem $grey-1;
}