.section__about {

  .section__text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100rem, 100%);
    overflow-x: hidden;
    padding: 0 2rem;

    h2 {
      text-align: left;
    }

    p {
      align-self: flex-start;
      text-align: left;
    }
  }

  .grid__2--cols {

    .box {
      display: flex;
      flex-direction: column;
      background-color: $grey-dark-1;
      // align-items: flex-start;
      // justify-content: center;
      gap: 5rem;
      border-radius: 1.2rem;
      padding: 5.2rem;
      border: 1px solid 131313;
      border: 1px solid rgba(255, 255, 255, 0.15);
      overflow: hidden;

      .box-text-box {
        flex: 1;
        // background-color: red;

        p {
          text-align: left;
        }
      }

      .img-box {
        flex: 3;
        position: relative;

        .composition {
          @include absCenter;
          width: 20rem;
          // background-color: yellow;
          align-self: center;

          .backdrop {
            width: 60rem;

            z-index: -1;
            object-fit: cover;
            @include absCenter;

            img {
              width: 100%;
            }
          }

          img {
            width: 100%;
            object-fit: contain;
            display: block;
          }
        }
      }
    }
  }

  .rating {
    margin-top: 10rem;

    @include respond(tab-port) {
      margin-top: 8rem;
    }

    @include respond(big-phone) {
      margin-top: 7rem;
    }

    @include respond(phone) {
      margin-top: 6rem;
    }

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .bx-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
