.section__more {
  overflow-x: hidden !important;

  .compostion {
    width: 100%;
    position: relative;
    background-size: contain;

    .sec-img {
      width: 100%;
    }

    @include respond (tab-port) {
      height: 50rem;

      img {
        height: 100%;
      }
    }

    @include respond (big-phone) {


      height: 40rem;

      img {
        height: 100%;
      }
    }

    @include respond (phone) {
      height: 38rem;

      img {
        height: 100%;
      }
    }



    &::after {
      content: url("../asset/img/Frame\ 148.png");
      position: absolute;
      top: 0;

      left: 0;
      display: none;

    }

    &::before {
      content: url("../asset/img/Frame\ 149.png");

      position: absolute;
      bottom: 0;
      right: 0;
      display: none;


    }

    margin-bottom: 8rem;

    @include respond (tab-port) {
      margin-bottom: 7rem;
    }


    @include respond (big-phone) {
      margin-bottom: 6rem;
    }


    @include respond (phone) {
      margin-bottom: 5.6rem;
    }

    @include respond (sm-phone) {
      margin-bottom: 5rem;
    }


  }


  .grid__3--cols-sm {
    .box {
      .grid-text-box {



        .grid-header {
          display: flex;
          // justify-content: center;
          align-items: center;
          gap: .8rem;
          margin-bottom: 1rem;

          span {
            color: $primary-color;
          }

        }


      }
    }
  }

  .green-box {
    background-color: $accent-green;
    margin-top: 13rem;
    padding: 13.2rem 7.2rem;


    @include respond (tab-port) {
      padding: 5rem 3.6rem;
      margin-top: 10rem;
    }

    @include respond (big-phone) {
      padding: 4rem 2.4rem;
      margin-top: 10rem;
    }

    @include respond (phone) {
      padding: 3.2rem 2.4rem;
      margin-top: 9.6rem;
    }

  }
}