.section__about {
  .section__text-box {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100rem, 100%);

    padding: 0 2rem;

    h2 {
      text-align: left;
    }

    p {
      align-self: flex-start;
      text-align: left;
    }
  }



  .grid__2--cols {




    .box {
      display: flex;
      flex-direction: column;
      background-color: $grey-dark-1;
      // align-items: flex-start;
      // justify-content: center;
      gap: 5rem;
      border-radius: 1.2rem;
      padding: 5.2rem;
      border: 1px solid 131313;
      border: 1px solid rgba(255, 255, 255, .15);





      .box-text-box {
        flex: 1;
        // background-color: red;

        p {
          text-align: left;
        }
      }


      .img-box {

        flex: 3;
        // background-color: green;
        position: relative;

        .composition {
          @include absCenter;
          width: 20rem;
          // background-color: yellow;
          align-self: center;
          position: relative;

          .backdrop {
            height: 39rem;
            width: 60rem;
            position: absolute;
            top: 0;
            left: 0;

            z-index: -1;
            object-fit: cover;


            img {
              width: 100%;
            }

          }


          img {

            width: 100%;


            object-fit: contain;
            display: block;
          }
        }

      }

    }
  }
}