.section__testimonial {
  margin: 14rem 0;
  padding: 10rem 7.2rem;
  background-color: $accent-green;

  color: $color-black;

  .section__text-box {
    h2 {
      padding: 0;
    }
  }

  .grid__3--cols-sm {
    // margin-top: 10rem;



    .box {

      .grid-text-box {
        padding: 2.4rem 3rem;
        border-left: 2px solid $color-black ;

        p {
          color: $text-color-gray-green;
          text-align: left;
          margin: 0;

        }
      }
    }
  }
}