.section__learn {
  margin: 20rem 0;

  @include respond(phone) {
    margin: 10 0;
  }

  &--text-box {
    padding: 0 27.2rem;
    margin-bottom: 10rem;

    @include respond(big-phone) {
      padding: 0 4rem;
      margin-bottom: 6rem;
    }

    @include respond(tab-port) {
      padding: 0 9rem;
      margin-bottom: 8rem;
    }

    @include respond(tab-land) {
      padding: 0 18rem;
    }

    @include respond(phone) {
      padding: 0 2.4rem;
      margin-bottom: 4rem;
    }

    @include respond(sm-phone) {
      padding: 0 2rem;
    }

    h2 {
      text-align: center;
      padding-bottom: 2.4rem;
    }

    p {
      color: $grey-1;
      text-align: center;
      padding: 0 4rem;
    }
  }

  .grid__3--cols {
    .box {
      display: flex;
      flex-direction: column;
      background-image: url('/asset/img/grid-2.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      height: 50rem;

      .composition {
        position: relative;
        flex: 3;

        img {
          width: calc(100% - 8rem);
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          object-fit: contain;
          display: block;
        }

        &.right {
          img {
            left: unset;
            right: 0;
            transform: unset;
          }
        }

        .overlay {
          height: 100%;
          width: 100%;
          background-image: linear-gradient(to bottom, transparent, rgba(#131313, 0.7));
          position: absolute;
          z-index: 2;
          top: 0;
        }
      }

      &.span {
        .composition {
          img {
            height: 75%;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .text-box {
        flex: 1;
        padding: 4rem;
        background-color: inherit;
      }
    }
  }
}
